<div class="container-fluid">
  <div class="row">
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div>
<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div>
  <div id="header">
    <h1><a href="#">MANGAL KARI CHAND</a></h1>
    <h2>HTML Template</h2>
    <ul id="nav">
      <li class="current"><a href="index.html">Home</a><span>/</span></li>
      <li><a href="services.html">Services</a><span>/</span></li>
      <li><a href="portfolio.html">Portfolio</a><span>/</span>
        <ul>
          <li><a href="project.html">Latest Project</a></li>
        </ul>
      </li>
      <li><a href="news.html">News</a><span>/</span></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
  <!--end header-->
  <div id="frontpage-content" class="container-fluid">
    <div id="featured-section">
      <!-- . -->
      <img id="featured-section-img" src="images/400x225.gif" width="400" height="225" alt="" />
      <div id="featured-section-details">
        <h4>Hi there, my name is Mangal &amp; welcome to my online portfolio</h4>
        <p>I offer a range of freelance website consultancy services and can help you create a professional online presence that both looks stylish and provides a great return on investment.</p>
        <a class="button" href="#">View My Portfolio</a> </div>
      <!--end featured-section-details-->
    </div>
    <!--end featured-section-->
    <div class="line"></div>
    <div id="latest-projects">
      <h3>My Latest Projects</h3>
      <div class="latest-project first-latest-project">
        <p>[Project Title]</p>
        <a href="#"><img width="280" height="190" src="images/280x190.gif" class="post-image" alt="" /></a> </div>
      <!--end latest-project-->
      <div class="latest-project">
        <p>[Project Title]</p>
        <a href="#"><img width="280" height="190" src="images/280x190.gif" class="post-image" alt="" /></a> </div>
      <!--end latest-project-->
      <div class="latest-project">
        <p>[Project Title]</p>
        <a href="#"><img width="280" height="190" src="images/280x190.gif" class="post-image" alt="" /></a> </div>
      <!--end latest-project-->
    </div>
    <!--end latest-projects-->
    <div class="line"></div>
    <div id="overview">
      <div class="overview-block first">
        <h4>About Me</h4>
        <p>I've been designing and developing high quality websites for over 12 years. My clients include a range of small businesses, agencies, and academic institutions.</p>
        <p><a href="#">Learn More About Me » </a></p>
      </div>
      <!--end overview-block-->
      <div class="overview-block">
        <h4>Services Available</h4>
        <p>My core services include web design and development, search engine optimisation, online branding and marketing, and user experience consultancy work.</p>
        <p><a href="#">View Services Available »</a></p>
      </div>
      <!--end overview-block-->
      <div class="overview-block">
        <h4>Online Publications</h4>
        <p>I've written articles and tutorials for several leading online magazines over the past five years with a specific focus on front end design and development work.</p>
        <p><a href="#">View All Publications »</a></p>
      </div>
      <!--end overview-block-->
    </div>
    <!--end overview-->
  </div>
  <!--end frontpage-content-->
  <div class="line"></div>
  <div id="footer">
    <p class="copyright">Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved / Design By Mangal Kari Chand</p>
    <p class="social"><a href="#">Follow Me On Twitter »</a></p>
  </div>
  <!--end footer-->
</div>
<!--end wrap-->